/* Footer */

	#footer {
		.copyright {
			font-size: 0.8em;
			list-style: none;
			padding-left: 0;

			li {
				border-left: solid 1px _palette(border);
				color: _palette(fg);
				display: inline-block;
				line-height: 1;
				font-size: 1.5em;
				margin-left: 1em;
				padding-left: 1em;

				&:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}
			}
		}

		.footer-logo {
			margin-right: 10px;
			height: 2em;
			width: 2em;
		}

		.footer-text {
			position: relative;
			bottom: 18px;
		}

		@include breakpoint(xsmall) {
			.copyright {
				li {
					display: block;
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
					line-height: inherit;
				}
			}
		}
	}